<div class="container">
    <h2>About Material Colors</h2>
    <p>
        Material Colors come from Google's <a target="_blank" href="http://www.google.com/design/spec/style/color.html">Material Design Guidelines</a>. Please visit their site for more information on how to use Material Design and Material Colors.
    </p>
    <p>
        This site was inspired by <a target="_blank" href="http://flatuicolors.com/">Flat UI Colors</a>.
    </p>
    <h4>Coming Soon</h4>
    <ul>
        <li>Toggle To RGB from HEX</li>
    </ul>
    <h4>Change Log</h4>
    <ul>
        <li>Jul 26th 2014 - Site Lauched</li>
    </ul>

</div>