<div class="colors">
      <div class="color-container" ng-repeat="shades in contacts" >
            <div style="background:{{color.color}}; color:{{color.text}};" class="color-box {{color.shade == 'A200' ? 'accent' : '' }}" ng-click="mobileClick(color)" ng-repeat="color in shades" clip-copy="getTextToCopy(color)" clip-click="getSelectedColor(color)">
                <div class="flip-wrapper">
                    <div class="front">{{color.name}} {{color.shade}} <span>{{color.color}}</span></div>
                    <div class="back">
                        Click To Copy &amp; Test
                    </div>
                </div>
            </div>
      </div>
</div>