<!doctype html>
<html ng-app="launch">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Starter Kit</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="images/touch/chrome-touch-icon-196x196.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- 1. Load platform support before any code that touches the DOM. -->
    <script src="bower_components/platform/platform.js"></script>
    <!-- 2. Load the component using an HTML Import -->

    <link rel="import" href="elements/color-block.html">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- build:css styles/components/main.min.css -->
    <link rel="stylesheet" href="styles/h5bp.css">
    <link rel="stylesheet" href="styles/components/components.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="ColorsController">
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo" style="color:{{current}}; border-bottom:{{accent}} solid 5px;">Material Colors</h1>
        <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
        </section>
      </div>
    </header>
    <nav class="navdrawer-container promote-layer" style="background:{{current}};">
      <h4>Navigation</h4>
      <ul>
        <li><a href="#hello">About</a></li>
        <li><a href="#get-started">Creator Info</a></li>
        <li><a href="http://leveluptuts.com/">500+ Free Tutorials</a></li>
        <li><a href="https://www.digitalocean.com/?refcode=67357174b09e">Best Web Hosting</a></li>
      </ul>
    </nav>

    <main>
      <div class="colors">
        <div class="color-container" ng-repeat="shades in contacts" >
          <color-block class="color" ng-repeat="color in shades" clip-copy="getTextToCopy(color)" clip-click="doSomething(color)"  ng-click="getSelectedColor(color)" color="{{color.color}}" name="{{color.name}}" shade="{{color.shade}}" accent="{{color.shade == 'A200' ? 'accent' : '' }}"></color-block>
        </div>
      </div>
    </main>

    <div class="copied" id="copied">Color Copied To Clipboard</div>
    <!-- build:js scripts/main.min.js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.0/ZeroClipboard.min.js"></script>
    <script src="/bower_components/ng-clip/dest/ng-clip.min.js"></script>

    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29678303-2', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
